<% layout('/layouts/boilerplate.ejs') %>

<div class="text-center">
    <main class="px-3">
        <h1>Welcome To Playgrounds</h1> 
        <p>Here you can find the perfect spot for your favourite sports activites.<br>
        If you own such a facility, feel free to add it to this website.</p>
        <a href="/football" class="btn btn-dark">Football</a>
        <a href="/basketball" class="btn btn-dark">Basketball</a>
    </main>
</div>